<div class="grid">
  <div class="header">Header</div>
  <div class="menu">Menu</div>
  <div class="content">
    <div class="breadcrumb">breadcrumb</div>
    <div class="nome">nome</div>
    <div class="abilities">abilities</div>
    <div class="type">type</div>
    <div class="image">image</div>
    <div class="description">description</div>
    <div class="type-effectiveness">type-effectiveness</div>
    <div class="stats">stats</div>
    <div class="evolution">evolution</div>
  </div>
  <div class="footer">Footer</div>
</div>
