<div class="grid">
  <div class="header">Header</div>
  <div class="menu">Menu</div>
  <div class="content">
    <div class="breadcrumb">breadcrumb</div>
    <div class="id-nome-type">id-nome-type</div>
    <div class="type-abilities">type-abilities</div>
    <div class="type-title">type-title</div>
    <div class="image">image</div>
    <div class="description">description</div>
    <div class="type-effectiveness">type-effectiveness</div>
    <div class="stats">stats</div>
    <div class="evolution">evolution</div>
  </div>
  <div class="footer">Footer</div>
</div>
