.grid {
    display: flex;
}
.header {
    width: 100%;
    justify-content: center;
    align-self: top;
    background-color: blue;
}

.footer {
    width: 100%;
    background-color: gray;

}
.menu {
    min-width: 200px;
    background-color: lightblue;

}
.container {
    width: 100%;
    background-color: lavender;
}